body{
    background:linear-gradient(90deg,#204243,#377970 50%,#204243);
}


.text-platzi{
    color: #97c93e !important;
}


#header .navbar-brand img{
    /* object-fit: cover; */
    width: 200px; 
    height: 60px;
}

#main{
    margin-top: 85px;
}

.btn-adegea{
    background-color: #1f3905;
    color: white;
    border: none;
}
.btn-adegea:hover{
    background-color: #82ad36;
}

.btn-outline-light1{
    background-color:#1c3643;
    border: none;
    color: white;
}


#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    /* filter: grayscale(70%); */

}

#carousel {
    position: relative;
}

#carousel .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    color: white;
}

#header img{
    width: 80px;
}

#place-time{
    background-color: #133637;
    color: white;
}

#place-time img{
  padding-top: 15px;
  object-fit: cover;
    padding-left: 25px;
    max-width: 90%;
    max-height: 120%;
}


#place-time1{
  background-color: #133637;
  color: white;
}

#place-time1 img{
  padding-top: 40px;
  padding-left: 4px;
  max-width: 90%;
  max-height: 120%;
}

#footer{
    background: linear-gradient(90deg,#204243,#377970 50%,#204243);
}

#footer a{
    text-decoration:none;
    color: white;
}

/* Efectos cARD */
.card {
    transition: transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    /* background:#30523f; */
    background:linear-gradient(90deg,#204243,#377970 50%,#204243);
  }
  
  .card:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
  .card button {
    transition: background-color 0.2s ease-in-out;
    
  }
  
  .card button:hover {
    background-color: #f5f5f5;
  }  

  .card-title{
    color:#1ab5f2;
  }

/* Efectos Card */


/* Servicios */

#servicios {
    display: flex;
    align-items: center;
}
#servicios .card-title{
   color:white;
   font-weight: bold;
}
#servicios .card{
  background-color: #377970;
}

.card2{
    align-items: center;
}

.card-pad{
  padding-top: 2px;
}

.card-img-top1{
    width: 70px;
   
}


/* Estilos para la primera fila de logos (5 logos) */
.fila-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 30px;
  }
  
  .fila-1 img{
    width: 85px;
  }
  
  .fila-1-servicio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .fila-1-servicio img{
    width: 50px;
  }
  
  
  /* Estilos para la segunda fila de logos (4 logos) */

/* servicios */

/* Titulo effect */
.ml14 {
    font-weight: 400;
    font-size: 2.5em;
    color: white;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.1em;
    padding-right: 0.5em;
    padding-bottom: 0.15em;
    text-align: center; /* Alineación de texto centrada */
    white-space: nowrap; /* Evitar que el texto se desborde en pantallas pequeñas */
  }
  
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 5;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1.5em;
  }

  .ml3 {
    font-weight: 400;
    font-size: 2.5em;
    color: white;
  }

  .ml3 .text-wrapper1 {
    position: relative;
    display: flex;
    justify-content: center;    
    align-items: center;
    padding-top: 0.1em;
    padding-right: 0.5em;
    padding-bottom: 0.15em;
    text-align: center; /* Alineación de texto centrada */
    white-space: nowrap; /* Evitar que el texto se desborde en pantallas pequeñas */
  }